@font-face {
  font-family: 'Tijuf';
  src: local('Tijuf'), url('./Tijuf.otf') format('opentype'); }

@font-face {
  font-family: 'Slackey';
  src: local('Slackey'), url('./Slackey.ttf'); }

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Tijuf;
  background-color: #040404;
  cursor: url('./media/cursor.svg') 10 10, default; }

canvas {
  position: fixed; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
